body {
  background-color: white;
  max-width: 960px;
  margin: auto;
}

header {
  border-radius: 5px;
  background-color: SteelBlue;
  padding: 15px;
}

h1 {
  color: black;
  font-family: Georgia;
  text-align: center;
  font-size: 26px;
}

main {
  margin-top:0px;
  background-color: LightSteelBlue;
  padding:5px
}

footer {
  padding-top: 15px;
  background-color: SteelBlue;
}

.button-center {
  text-align: center;
}

button {
  padding: 1%;
  margin: 2%;
  width: 25%;
}

.image figcaption {
  background-image: url("maxresdefault.jpg");
  padding-top: 275px;
  padding-bottom: 25px;
  padding-left: 20px;
  opacity: 0.75;
  color: white;
}

.audiofeed {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

p {
  font-size: 18px;
  text-align: left;
}
.avatar {
  width: 50px;
  float: left;
  box-shadow: 2px 2px 2px 0px #3F3F3F;
}

.example {
  width: 960px;
  border-color: black;
  border-width: thick;
}

.creds {
  font-family: Helvetica;
  color: #8f9491;
  float: left;
  font-size: 14px;
  padding-left: 10px;
}
