/*.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/

html {
  font-size: 18px;
  text-align: center;
}
body {
  background-color: white;
  margin: auto;
  font-family: Roboto;
  max-width: 1000px;
}

header {
  border-radius: 5px;
  background-color: SteelBlue;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  font-family: Merriweather;
  text-align: center;
  font-size: 1.5rem;
}

main {
  margin-top:0px;
  background-color: WhiteSmoke;
  padding-top: 5%;
  padding-bottom: 5%;

}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: SteelBlue;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav {
  background-color: WhiteSmoke;
  position:fixed;
  width: 86%;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.site-wide-nav ul{
  margin: 0;
  padding: 0;
}
.site-wide-nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid Navy;
  }

.site-wide-nav a {
  display: block;
}

.button-center {
  text-align: center;
}

button {
  padding: 1%;
  margin: 2%;
  width: 25%;
}

.site-container {
  position:relative;
  top: 41px;
  width: 86%
}

.image figcaption {
  background-image: url("maxresdefault.jpg");
  padding-top: 275px;
  padding-bottom: 25px;
  padding-left: 20px;
  opacity: 0.75;
  color: white;
  text-align: left;
}

.audiofeed {
  text-align: center;
  margin: 0 auto;
}

.message-container {
  text-align: center;
  font-family: 'Fira Mono';
  margin: 20px;
}

p {
  font-size: 1rem;
  text-align: left;
}
.avatar {
  width: 5%;
  float: left;
  box-shadow: 2px 2px 2px 0px #3F3F3F;
}

.creds {
  font-family: Helvetica;
  color: #bfbfbf;
  float: left;
  font-size: 0.75rem;
  padding-left: 1.5%;
}
